<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.order.mapper.OrderMapper">
    <insert id="insert">
        INSERT INTO order_info(order_id)
        VALUES (#{orderId});
        <foreach collection="List" item="line" open="(" close=")" separator=",">
            INSERT INTO order_line (order_prod_no, order_quantity)
            VALUES (#{line.orderP},#{line.orderQuantity)";
        </foreach>
    </insert>
    <select id="findByOrderId" resultType="com.my.order.vo.OrderInfo"></select>
</mapper>